<div class="button_panel">
    <input type="button" value="ADD NODE" ui-sref="workspace.new" />
    <input type="button" value="APPEND NODE" data-ng-click="addChild()"  />
</div>

<!--<h3>Classic Tree</h3>-->
<!--<div>Selected: {{node1.label?node1.label:"N/A"}}</div>-->
<!--<treecontrol class="tree-classic" tree-model="treedata" node-children="children" on-selection="showSelected(node)" selected-node="node1">-->
    <!--label: {{node.label}} ({{node.id}})-->
<!--</treecontrol>-->



<!--<abn-tree tree-data="my_data" tree-control="my_tree" on-select="my_tree_handler(branch)"  expand-level="2" initial-selection="Granny Smith"></abn-tree>-->

<script type="text/ng-template" id="popover">
    <div ng-if="row.branch.data.type=='project'">
    <ul class="list">
        <li class="list-item"><a class="pull-right" ui-sref="workspace.new">Add Set</a>Data Sets: 5</li>
    </ul>
    <ul class="list">
        <li class="list-item"><a class="pull-right" ui-sref="workspace.new">Add Tool</a>Tools: 4</li>
    </ul>
    <ul class="list">
        <li class="list-item"><a class="pull-right" ui-sref="workspace.new">Add Model</a>Models: 4</li>
    </ul>
    </div>

    <!--<ul ng-if="row.branch.data.title" >-->
        <!--<li ><a>{{ row.branch.data.title }}</a></li>-->
        <!--<li ><a>{{ row.branch.data.title }}</a></li>-->
        <!--<li ><a>{{ row.branch.data.title }}</a></li>-->
    <!--</ul>-->
</script>

<div class="panel">
    <div class="panel-body">
        <table>
            <tr>
                <td style="vertical-align:top">
                    <br>
                    <button ng-click="try_changing_the_tree_data()" class="btn btn-default btn-sm">Change The Tree Definition</button>
                    <br>
                    <button ng-click="try_async_load()" class="btn btn-default btn-sm">Load Tree Data Asynchronously</button>
                    <hr>
                    <h5>Test the Tree Control API:</h5>
                    <br>
                    <button ng-click="my_tree.select_first_branch()" class="btn btn-default btn-sm">First Branch</button>
                    <br>
                    <button ng-click="my_tree.select_next_sibling()" class="btn btn-default btn-sm">Next Sibling</button>
                    <button ng-click="my_tree.select_prev_sibling()" class="btn btn-default btn-sm">Prev Sibling</button>
                    <br>
                    <button ng-click="my_tree.select_next_branch()" class="btn btn-default btn-sm">Next Branch</button>
                    <button ng-click="my_tree.select_prev_branch()" class="btn btn-default btn-sm">Prev Branch</button>
                    <br>
                    <button ng-click="my_tree.select_parent_branch()" class="btn btn-default btn-sm">Parent</button>
                    <hr>
                    <button ng-click="my_tree.expand_branch()" class="btn btn-default btn-sm">Expand</button>
                    <button ng-click="my_tree.collapse_branch()" class="btn btn-default btn-sm">Collapse</button>
                    <br>
                    <button ng-click="my_tree.expand_all()" class="btn btn-default btn-sm">Expand All</button>
                    <button ng-click="my_tree.collapse_all()" class="btn btn-default btn-sm">Collapse All</button>
                    <hr>
                    <button ng-click="try_adding_a_branch()" class="btn btn-default btn-sm">Add Branch</button>
                    <button ng-click="add_project()" class="btn btn-default btn-sm">Add Project</button>
                    <hr>
                    <button ng-click="my_tree.remove_branch()" class="btn btn-default btn-sm">Remove Branch</button>
                </td>
                <tr>
                <td >
                    <div style="width:300px" ns-popover ns-popover-template="popover" ns-popover-trigger="mouseover" ns-popover-placement="bottom" timeout="0" class="alert alert-warning">{{ output }}</div>
                </td>
            </tr>
            </tr>
        </table>

    </div>
</div>