<div class="mflow_add_project">
    <a ui-sref="project.new" >+Create New Project</a>
    <!--<span class="input-group-addon">+</span>-->
</div>

<mflow-projects data="projectList" ></mflow-projects>

        <!--<div class="mflow_project">-->
            <!--<div class="mflow_project_heading">-->
                <!--<label><span class="glyphicon glyphicon-minus"></span>  Project 1 </label>-->
            <!--</div>-->
            <!--<div class="mflow_project_body">-->
                <!--<div class="mflow_datesets">-->
                    <!--<label>Date Sets</label>-->
                <!--</div>-->
                <!--<div class="mflow_tools">-->
                    <!--<label>Tools</label>-->
                <!--</div>-->
                <!--<div class="mflow_model">-->
                    <!--<div class="mflow_model_heading">-->
                        <!--<label>Model 1</label>-->
                    <!--</div>-->
                    <!--<div class="mflow_model_body">-->
                        <!--<label>Boundary Conditions</label>-->
                        <!--<label>Default Properties</label>-->
                        <!--<label>Property Zones</label>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="mflow_model">-->
                    <!--<div class="mflow_model_heading">-->
                        <!--<label>Model 2  ></label>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

<!--<div class="mflow_project">-->
    <!--<div class="mflow_project_heading">-->
        <!--<label><span class="glyphicon glyphicon-plus"></span>  Project 1 </label>-->
    <!--</div>-->
<!--</div>-->