<div class="list-group">
    <!--<span class="input-group-addon">+</span>-->
    <a href="#" class="list-group-item">+Create New Project</a>
</div>

<ul class="list-unstyled">
    <li>Home</li>
    <li>Products
        <ul>
            <li>Gadgets</li>
            <li>Accessories</li>
        </ul>
    </li>
    <li>About Us</li>
    <li>Contact</li>
</ul>
<ul class="list-group">
    <li class="list-group-item">Project 1
        <ul class="list-group">
            <li class="list-group-item">Data Sets</li>
            <li class="list-group-item">Tools</li>
            <li class="list-group-item">Model 1
                <ul class="list-group">
                    <li class="list-group-item">Data Sets</li>
                    <li class="list-group-item">Tools</li>
                    <li class="list-group-item">Model 1</li>
                    <li class="list-group-item">Model 2</li>
                    <li class="list-group-item">Model 3</li>
                </ul>
            </li>
            <li class="list-group-item">Model 2
                <ul class="list-group">
                    <li >Data Sets</li>
                    <li >Tools</li>
                </ul>
            </li>
            <li class="list-group-item">Model 3</li>
        </ul>
    </li>
    <li class="list-group-item">Tools</li>
    <li class="list-group-item">Model 1</li>
    <li class="list-group-item">Model 2</li>
    <li class="list-group-item">Model 3</li>
</ul>

