<div class="list-group">
    <!--<span class="input-group-addon">+</span>-->
    <a href="#" class="list-group-item">+Create New Project</a>
</div>

<accordion close-others="true">
    <accordion-group heading="Project 1" >
        <accordion close-others="true">
            <accordion-group heading="Data Sets">
            </accordion-group>
        </accordion>
        <accordion close-others="true">
            <accordion-group heading="Tools">
            </accordion-group>
        </accordion>
        <accordion close-others="true">
            <accordion-group heading="Model 1">
                This content is straight in the template.
            </accordion-group>
        </accordion>
        <accordion close-others="true">
            <accordion-group heading="Model 2">
                This content is straight in the template.
            </accordion-group>
        </accordion>


    </accordion-group>
    <accordion-group heading="Second Header.">
        This content is straight in the template.
    </accordion-group>
    <accordion-group heading="Third Header.">
        This content is straight in the template.
    </accordion-group>
</accordion>


<ul class="list-group">
    <li class="list-group-item">Project 1
        <ul class="list-group">
            <li class="list-group-item">Data Sets</li>
            <li class="list-group-item">Tools</li>
            <li class="list-group-item">Model 1
                <ul class="list-group">
                    <li class="list-group-item">Data Sets</li>
                    <li class="list-group-item">Tools</li>
                    <li class="list-group-item">Model 1</li>
                    <li class="list-group-item">Model 2</li>
                    <li class="list-group-item">Model 3</li>
                </ul>
            </li>
            <li class="list-group-item">Model 2
                <ul class="list-group">
                    <li >Data Sets</li>
                    <li >Tools</li>
                </ul>
            </li>
            <li class="list-group-item">Model 3</li>
        </ul>
    </li>
    <li class="list-group-item">Tools</li>
    <li class="list-group-item">Model 1</li>
    <li class="list-group-item">Model 2</li>
    <li class="list-group-item">Model 3</li>
</ul>

